<!DOCTYPE html>
<html>
    <head>
        <title>Safari Campground</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">

    </head>
    <body>
        <nav class="navbar navbar=default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Safari Campground</a>
                </div>
                <!-- <div class="collapse navbar-collapse"> -->
                    <ul class="navbar-nav navbar-right">
                        <li><a href="/">Login</a></li>
                        <li><a href="/">Sign up</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                <!-- </div> --> 
            </div>
        </nav>